/* Commun */
.BlocContact, .BlocContact div a{
  display: flex;
}

.BlocContact {
  flex-wrap: wrap;
}

.BlocContact a {
  width: fit-content;
  align-items: center;
}

/* Mobile */
@media (min-width: 0px) and (max-width: 640px) {
  .BlocContact {
    margin: 0 10%;
    gap: 15px 0;
  }

  .BlocContact div {
    width: 100%;
  }

  .BlocContact div a{
    gap: 10px;
  }
}

/* Tablette */
@media (min-width: 641px) and (max-width: 1007px) {
  .BlocContact {
    margin: 0 10%;
    gap: 15px 0;
  }

  .BlocContact div {
    width: 100%;
  }

  .BlocContact div a{
    gap: 10px;
  }
}

/* Petit écran PC */
@media (min-width: 1008px) and (max-width: 1399px) {
  .BlocContact {
    margin: 0 20%;
    gap: 30px 0;
  }

  .BlocContact div {
    width: 50%;
  }

  .BlocContact div a{
    gap: 15px;
  }
}

/* Écran PC */
@media (min-width: 1400px) {
  .BlocContact {
    margin: 0 20%;
    gap: 30px 0;
  }

  .BlocContact div {
    width: 50%;
  }

  .BlocContact div a{
    gap: 15px;
  }
}