/* Commun toute taille*/
.BlocProjet {
  display: flex;
  flex-wrap: wrap;
}

.BlocProjet .Projet {
  box-sizing: border-box;
  border-bottom: solid 0.5px #000;
  border-right: solid 0.5px #000;
}

.BlocProjet .Projet.last-row {
  border-bottom: none;
}

/* Mobile */
@media (min-width: 0px) and (max-width: 640px) {
  .BlocProjet .Projet {
    width: 100%;
    padding: 2% 2%;
  }

  .BlocProjet .Projet:nth-child(1n) {
    border-right: none;
  }
}

/* Tablette */
@media (min-width: 641px) and (max-width: 1007px) {
  .BlocProjet .Projet {
    width: calc(100% / 2);
    padding: 2% 2%;
  }

  .BlocProjet .Projet:nth-child(2n) {
    border-right: none;
  }
}

/* Petit écran PC */
@media (min-width: 1008px) and (max-width: 1399px) {
  .BlocProjet .Projet {
    width: calc(100% / 3);
    padding: 1% 2%;
  }

  .BlocProjet .Projet:nth-child(3n) {
    border-right: none;
  }
}

/* Écran PC */
@media (min-width: 1400px) {
  .BlocProjet .Projet {
    width: calc(100% / 4);
    padding: 1% 2%;
  }

  .BlocProjet .Projet:nth-child(4n) {
    border-right: none;
  }
}