/* Commun */
.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mobile */
@media (min-width: 0px) and (max-width: 640px) {
  .Footer {
    gap: 10px;
  }
}

/* Tablette */
@media (min-width: 641px) and (max-width: 1007px) {
  .Footer {
    gap: 10px;
  }
}

/* Petit écran PC */
@media (min-width: 1008px) and (max-width: 1399px) {
  .Footer {
    gap: 10px;
  }
}

/* Écran PC */
@media (min-width: 1400px) {
  .Footer {
    gap: 10px;
  }
}