/* Commun */
.line {
  display: block;
  border: solid 1px;
}

.line.color {
  border-color: #BA324F;
}

/* Mobile */
@media (min-width: 0px) and (max-width: 640px) {
  .line {
    width: 150px;
  }
}

/* Tablette */
@media (min-width: 641px) and (max-width: 1007px) {
  .line {
    width: 400px;
  }
}

/* Petit écran PC */
@media (min-width: 1008px) and (max-width: 1399px) {
  .line {
    width: 600px;
  }
}

/* Écran PC */
@media (min-width: 1400px) {
  .line {
    width: 800px;
  }
}