
/* Petit écran */
.BlocTextImage {
  padding: 10px 20px;
}

.BlocTextImage .col1 {
  width: 100%;
  margin-bottom: 20px;
}

.BlocTextImage .content {
  margin: 1em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Moyen écran */
@media (min-width: 641px) {
  .BlocTextImage {
    padding: 40px 80px;
  }

  .BlocTextImage .col1 {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Grand écran */
@media (min-width: 1008px) {
  .BlocTextImage .content {
    flex-direction: row; 
  }

  .BlocTextImage .col1 {
    width: 50%;
    padding-right: 100px;
  }
}
