

button {
  /* Reset des paramètres par défaut */
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  min-height: 25px;
  min-width: 60px;

  /* Texte */
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  /* Bordures */
  padding: 3px 14px;
  border-radius: 10px;
  border: 1px solid #000;

  /* Transition */
  transition: ease 150ms;
}

button.secondaire {
  color: #BA324F;
  border-color : #BA324F;
}

button.plein {
  background-color: #BA324F;
  border: 0;
  color: #fff;
  min-width: 125px;
}

button:hover {
  cursor: pointer;
  color: #4BA3C3;
  border-color: #4BA3C3;
}

button.plein:hover {
  background-color: #4BA3C3;
  border: 0;
  color: #fff;
}

button:active {
  transform: translateY(1px);
}

button.xl {
  min-width: 200px;
  min-height: 42px;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}