@font-face {
  font-family: 'Nunito Sans';
  src: url('../../ressources/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf');
}

button {
  /* Reset des paramètres par défaut */
  background-color: transparent;

  /* Texte */
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  /* Bordures */
  padding: 3px 14px;
  border-radius: 10px;
  border: 1px solid #000;

  /* Transition */
  transition: color 0.5s ease, border-color 0.5s ease;
}

button:hover {
  cursor: pointer;

  /* Text */
  color: #4BA3C3;

  /* Bordures */
  border-color: #4BA3C3;
}


button:active {
  transform: translateY(1px);
  
}