.CardExpPro {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 2px #fff;
  transition: border 0.15s ease-in-out;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 365px;
  min-height: 160px;
}

.CardExpPro:hover {
  cursor: pointer;
  border: solid 2px #4BA3C3;
}

.CardExpPro:active {
  transform: translateY(1px);
}

.CardExpPro p {
  font-style: italic;
}

.CardExpPro .col1 {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.CardExpPro .col2 {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding-right: 20px;
  width: 65%;
}

.CardExpPro .col2 .top {
  margin-top: 20px;
  height: 40%;
}

.CardExpPro .col2 .bot {
  margin-bottom: 10px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: right;
}

@media (min-width: 641px) {
  .CardExpPro {
    width: 300px;
  }

  .CardExpPro .col1 {
    width: 50%;
  }

  .CardExpPro .col2 .top {
    height: 30%;
  }

  .CardExpPro .col2 .bot {
    height: 70%;
  }
}

@media (min-width: 1008px) {
  .CardExpPro {
    width: 365px;
  }

  .CardExpPro .col1 {
    width: 50%;
  }
}
