@font-face {
  font-family: 'Nunito Sans';
  src: url('../../public/ressources/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

h1.secondaire {
  color : #BA324F;
}