.Header {
  display: flex;
  width: 100%;
  margin: 1em 0;
}

.Header .col1, .Header .col3 {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 0 1em;
}

.Header .col3 {
  gap: 0.5em;
  justify-content: end;
}