/* Petit écran */
.line {
  display: block;
  border: solid 1px;
  width: 100px;
}

.line.color {
  border-color: #BA324F;
}

.dotted {
  height: 10px;
  border: none;
  background-image: linear-gradient(to right, #000 15%, rgba(255, 255, 255, 0) 0%);
  background-size: 10px 1.5px;
  background-repeat: repeat-x;
}

/* Moyen écran */
@media (min-width: 641px) {
  .line {
    display: block;
    border: solid 1px;
    width: 200px;
  }
}

/* Grand écran */
@media (min-width: 1008px) {
  .line {
    display: block;
    border: solid 1px;
    width: 600px;
  }
}