@font-face {
  font-family: 'Nunito Sans';
  src: url('../../public/ressources/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}