.SideBar {
  /* Masque le volet */
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;

  /* Position sur la page */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 900;

  /* Style du volet */
  background-color: #F2FBFF;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

  /* Position des enfants */
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.SideBar.open {
  transform: translateX(0);
}

.SideBar img {
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 40px;
}
