/* Commun */
.Projet {
  display: flex;
  width: 100%;
}

.Projet p.date {
  font-style: italic;
}

.Projet img {
  object-fit: contain;
}

.Projet .col1 {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Projet .col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Mobile */
@media (min-width: 0px) and (max-width: 640px) {

  /* Colonne 1 */
  .Projet .col1 {
    width: 85%;
    padding: 0 8%;
  }

  .Projet p.date {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .Projet p.description {
    margin-bottom: 15px;
  }

  .Projet button:last-child {
    margin-top: 10px;
  }

  /* Colonne 2 */
  .Projet .col2 {
    width: 15%;
    gap: 5px;
  }
}

/* Tablette */
@media (min-width: 641px) and (max-width: 1007px) {

  /* Colonne 1 */
  .Projet .col1 p.date {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .Projet .col1 p.description {
    margin-bottom: 10px;
  }

  .Projet .col1 button:last-child {
    margin-top: 10px;
  }
}

/* Petit écran PC */
@media (min-width: 1008px) and (max-width: 1399px) {

  /* Colonne 1 */
  .Projet .col1 {
    padding: 0 8%;
  }

  .Projet .col1 p.date {
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .Projet .col1 p.description {
    margin-bottom: 30px;
  }

  .Projet .col1 button:last-child {
    margin-top: 20px;
  }
}

/* Écran PC */
@media (min-width: 1400px) {

  /* Colonne 1 */
  .Projet .col1 {
    padding: 0 8%;
  }

  .Projet .col1 p.date {
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .Projet .col1 p.description {
    margin-bottom: 30px;
  }

  .Projet .col1 button:last-child {
    margin-top: 20px;
  }
}